body,head {
    font-family: 'JetBrains Mono', Monaco, 'Courier New', monospace, Consolas, Arial, sans-serif;
}

div {
    border: 0px solid black;
    padding: 10px;
}

.my-class {
    opacity: 0.5;
}


.question-class {
    background-color: rgba(0, 201, 100, 0.671);
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
}

.answer-class{
    background-color: rgba(66, 124, 95, 0.514);
    border-radius: 12px;
    border-style: groove;
    box-shadow: 5px 5px 5px grey;
}

h1 {
    color: red;
}

h2 {
    color: rgb(180, 99, 7);
}

h3 {
    color: rgb(22, 24, 146);
}

h4 {
    color: rgb(13, 136, 2);
}

mark {
    background-color: rgba(13, 172, 13, 0.685);
}

blockquote {
    color: black;
    border: 0px solid gray;
    padding: 1px;
}

.date {
    color: blue;
    position: absolute;
    top: 10px;
    right: 10px;
    margin-bottom: 20px;
}

.lecture-number {
    color: blue;
    position: absolute;
    top: 10px;
    left: 10px;
    padding-bottom: 20px;
}

.button-container {
    position: relative;
}

.prev-lecture {
    color: blue;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.next-lecture {
    color: blue;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.prev-lecture button,
.next-lecture button {
    background-color: #008805;
    /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.prev-lecture button:hover,
.next-lecture button:hover {
    background-color: #44b147;
}
